langchain-groq==0.3.8
python-dotenv==1.1.1
arize-phoenix==11.32.1
mcp[cli]==1.14.0
openinference-instrumentation==0.1.38
openinference-instrumentation-groq==0.1.11
openinference-instrumentation-openai==0.1.32
opentelemetry-api==1.37.0
opentelemetry-exporter-otlp==1.37.0
opentelemetry-exporter-otlp-proto-common==1.37.0
opentelemetry-exporter-otlp-proto-grpc==1.37.0
opentelemetry-exporter-otlp-proto-http==1.37.0
opentelemetry-instrumentation==0.58b0
opentelemetry-instrumentation-asgi==0.58b0
opentelemetry-instrumentation-fastapi==0.58b0
opentelemetry-proto==1.37.0
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
opentelemetry-util-http==0.58b0
openai==1.107.1
tiktoken==0.11.0